
.custom-admin-content {
    max-width: 80%;
    padding: 0 !important;

    .admin-banks-main-wrapper {
        .admin-add-new-bank-wrapper {
            .buttons-wrapper {
                display: flex;
                justify-content: flex-end;
                padding-right: 55px;
                padding-top: 10px;
            }

            .admin-add-new-bank-button {
                background: #00aab9;
                height: 30px;
                font-size: 17px;
                font-weight: bold;
                color: white;
                padding-right: 4px;
                padding-left: 4px;
                border-radius: 3px;
                border: none;
            }

            .admin-add-new-bank-button:hover {
                -webkit-box-shadow: 0 3px 16px -2px #4caccf;
                -moz-box-shadow: 0 3px 16px -2px #4caccf;
                box-shadow: 0 3px 16px -2px #4caccf;
                transition: box-shadow 0.2s;
            }
        }

        .admin-add-new-bank-wrapper:hover {
            cursor: pointer;
        }

        .admin-banks-title-wrapper {
            display: flex;
            justify-content: center;

            .admin-banks-title-Text {
                margin-left: 0 !important;
                margin-top: 0 !important;
                padding: 30px 0;
                font-size: 36px;
                color: #15dae0;
            }
        }

        .admin-banks-content-wrapper {
            position: relative;
            margin-top: 45px;
            display: flex;
            justify-content: center;

            .admin-banks-title-wrapper {
                position: absolute;
                height: 50px;
                background-color: #dad9d7;
                width: 76%;
                top: 64px;
                z-index: 9;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;

                .admin-banks-title-text {
                    font-size: 20px;
                    margin-left: 0 !important;
                    margin-top: 0 !important;
                }
            }

            #admin-banks-table_wrapper {
                /*width: unset !important;*/
                .dataTables_paginate {
                    span {
                        .paginate_button {
                            border: 1px solid #7d7d7d;
                        }
                    }
                }

                #admin-banks-table_length {
                    select {
                        background-color: #00aab9 !important;
                    }
                }
            }

            table {
                thead {
                    tr {
                        min-height: 40px;

                        th {
                            padding: 15px;
                            text-align: center;
                            /*font-weight: bold;*/
                        }
                    }
                }

                tbody {
                    margin-top: 20px;

                    tr {
                        td {
                            text-align: center;
                            padding: 15px;
                            font-size: 14px;
                            color: white;

                            img {
                                width: 15px;
                            }
                        }

                        td.admin-banks-table-action-buttons {
                            button {
                                height: 26px;
                                background: #00aab9;
                            }
                        }
                    }
                }
            }
        }
    }
}
///Table
#admin-banks-table_wrapper {
    color: white;
    font-size: 14px;
    width: 100%;

    #admin-banks-table_length {
        margin-bottom: 57px;

        label {
            color: white;
            font-size: 14px;

            select {
                background-color: transparent;
            }
        }
    }

    .dataTables_scroll {
        background: #a19f9f;
        border-radius: 7px;

        .dataTables_scrollHead {
            .dataTables_scrollHeadInner {
                display: flex;
                justify-content: center;
                width: unset !important;
                margin-top: 32px;

                table.display.dataTable.no-footer {
                    width: 100%;
                    max-width: 600px;
                    margin: unset !important;

                    thead {
                        th {
                            border-bottom: none;
                            font-weight: 400;
                            color: black;
                            /*width:100%;
                            max-width:600px;
                            margin:unset !important;*/
                        }
                    }
                }
            }
        }

        .dataTables_scrollBody {
            .admin-banks-table {
            }
            /*#admin-users-table {
                width: 100% !important;
            }*/
            table.admin-users-table {
                /*width: unset !important;*/
                tbody {
                    tr {
                        height: 44px;
                    }

                    tr.odd {
                    }
                }
            }
        }
    }

    table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
        background-color: #cac3c3 !important;
    }

    table.dataTable tbody tr {
        background-color: unset !important;
    }
}

#admin-banks-table_wrapper table.dataTable tbody tr {
    height: 40px;
}

#admin-banks-table_wrapper table.dataTable tbody tr td {
    border: 1px solid transparent !important;
}

#admin-banks-table_wrapper #admin-banks-table_length label select option {
    background-color: #57d4d8 !important;
}

table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
    background-color: transparent !important;
}

.custom-admin-content .admin-banks-main-wrapper .admin-banks-content-wrapper table tbody tr td {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;
}

#admin-banks-table_info {
    color: white;
}

#admin-banks-table_filter {
    label {
        color: white;
        font-size: 14px;
    }
}

#admin-banks-table_paginate {
    .paginate_button {
        color: white !important;
        font-size: 14px;
        background: transparent;
    }
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid black !important;
}
.custom-admin-content .admin-banks-main-wrapper .admin-banks-content-wrapper table tbody tr td {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;
}

#admin-banks-table_info {
    color: white;
}

#admin-banks-table_filter {
    label {
        color: white;
        font-size: 14px;
    }
}

#admin-banks-table_paginate {
    .paginate_button {
        color: white !important;
        font-size: 14px;
        background: transparent;
    }
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid black !important;
}
.custom-admin-content .admin-banks-main-wrapper .admin-banks-content-wrapper table tbody tr td {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;
}

#admin-banks-table_info {
    color: white;
}

#admin-banks-table_filter {
    label {
        color: white;
        font-size: 14px;
    }
}

#admin-banks-table_paginate {
    .paginate_button {
        color: white !important;
        font-size: 14px;
        background: transparent;
    }
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid black !important;
}
