#deleteServicePropositionModal {
    width: 280px;
    height: 134px;
    bottom: unset !important;
    /*top: 10% !important;*/

    .modal-footer {
        display: flex;
        justify-content: center;
    }
}
