.user-body-content {
    .bank-services-wrapper{
        margin-top:100px;
    }
    
    .bank-services-title-wrapper {
        display: flex;
        justify-content: center;

        .bank-services-title-text {
            font-size: 35px;
        }
    }
}
